body {
    margin-top: 3rem;
}

.heading {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 3rem;
}
.logo {
    height: 6rem;
}

div {
    width: 60%;
    background-color: beige;
    border: 1px solid black;
    margin:auto;
    text-align: center;
}

@media(max-width:1200px){
    body{
        margin: 5px;
        margin-top: 2.5rem;
    }

    div {
        width:80%;
        padding: 1rem;
    }
    .heading {
        font-size: 2rem;
    }
    .logo {
        height: 4rem;
    }
}