.heading {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 3rem;
}
.logo {
    height: 6rem;
}

section {
    width: 60%;
    background-color: beige;
    border: 1px solid black;
}

div {
    background-color: beige;
    border: 1px solid black;
    text-align: center;
}