.heading {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 3rem;
}
.logo {
    height: 6rem;
}

div {
    width: 60%;
    background-color: beige;
    border: 1px solid black;
    margin:auto;
}

@media(max-width:1200px){
    body{
        margin: 5px;
    }
    section{
        width; 90%;
    }
    div {
        width:90%;
        padding: 1rem;
    }
}